*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.5s;
}

.highBoard {
    padding-top: 70px;
}

.position {
    font-size: medium;
    margin-top: -3%;
}

.foundersDivs, .highBoardDivs, .mediaDivs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.founderDiv, .highBoardDiv, .mediaDiv {
    width: 30%;
    padding:3%;
}

.founderID, .highBoardID, .mediaID {
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    box-shadow: 20px 0px 50px black;
}

.founderImg, .highBoardImg, .mediaImg {
    width: 100%;
}

.founderName, .highBoardName, .mediaName {
    font-weight: bold;
    padding: 4%;
    width: 100%;
    text-align: center;
}
.dev {
    font-size: 20px !important
}

@media screen and (min-width:320px) and (max-width:450px) {
    .carousel-caption {
        margin-bottom: -7%;
    }
    .dev {
        font-size: 12px !important;
    }
}



@media screen and (max-width:768px) {
    .founderDiv, .highBoardDiv, .mediaDiv {
        padding:1%;
    }
    .founderName, .highBoardName, .mediaName {
        font-size: 15px;
    }
    .premiumFounders, .highBoard, .media {
        text-align: center;
    }
}